<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Board</title>
</head>
<body>
    <h1>Message Board</h1>
    {% for type in types%}
        <h2> {{type}} </h2>
    {% endfor %}
    <form action="/" method="POST">
        <label for="message">Enter your message:</label><br>
        <input type="text" id="message" name="message"><br>
        <button type="submit">Submit</button>
    </form>
    
    <h2>Messages ({{ num_messages }}):</h2>
    <ul>
        {% for message in messages %}
            <li>{{ message.message }}, ({{ message.mbti_type}})</li> 
        {% endfor %}
    </ul>
</body>
</html>
